{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Cool Layout with Complex Chainable Animation</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="cont s--inactive">
  <!-- cont inner start -->
  <div class="cont__inner">
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading">A Fábrica Working Bar</h2>
          </div>
          <div class="el__content">
            <div class="el__text">A Fábrica Working Bar</div>
            <div class="el__text2">Somando um ambiente atrativo e despojado à flexibilidade do escritório compartilhado, a Fábrica Bar Coworking apresenta soluções com uma proposta inovadora aos clientes que buscam maior versatilidade, redução de custos, mais produtividade e networking. Com sistemas integrados que automatizam tanto o processo de aluguel das estações de trabalho quando o de compra e consumo das 12 diferentes torneiras de cerveja artesanal.</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">1</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="1">1</div>
        </div>
      </div>
    </div>
    <!-- el end -->
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading">Café Cultura - Lagoa</h2>
          </div>
          <div class="el__content">
            <div class="el__text">Café Cultura - Lagoa</div>
            <div class="el__text2">Quando o destino resolve unir Luciana e Joshua, dois descendentes de italianos com sonhos e um pézinho na cafeicultura e na gastronomia, não poderia dar outra. Anos de estudos e muito trabalho criaram, em 2004, a Café Cultura, hoje uma rede de cafeterias espalhadas por Santa Catarina e loja online.</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">2</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="2">2</div>
        </div>
      </div>
    </div>
    <!-- el end -->
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading">Hang Out Coffee Spot</h2>
          </div>
          <div class="el__content">
            <div class="el__text">Hang Out Coffee Spot</div>
            <div class="el__text2">Também é uma cafeteria! Mas a Hang Out Coffee Spot merece fazer parte desta lista. Super charmoso, o café apresenta atrativos para os mais diversos públicos e para as atividades mais variadas – seja um lanche da tarde, um passeio com amigos e família, um happy hour ou, é claro, um dia de trabalho e reuniões de negócios.</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">3</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="3">3</div>
        </div>
      </div>
    </div>
    <!-- el end -->
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading">Delfino 146</h2>
          </div>
          <div class="el__content">
            <div class="el__text">Delfino 146</div>
            <div class="el__text2">Gastronomia, café, arte e conexões: é como o Delfino 146 se apresenta. Com ambiente intimista, pequeno e aconchegante, o local conquista o coração dos visitantes apaixonados por café. Mas ele não para por aí: são disponibilizados diversos ambientes, abertos e fechados, para reservas e eventos, se mostrando, também, um ambiente descontraído para happy hours, almoço, e jantar.</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">4</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="4">4</div>
        </div>
      </div>
    </div>
    <!-- el end -->
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading">Armazém Rita Maria</h2>
          </div>
          <div class="el__content">
            <div class="el__text">Armazém Rita Maria</div>
            <div class="el__text2">Nada com o tempo se perde, tudo se transforma. Mas são os sonhos de pessoas extraordinárias que impulsionam grandes transições. Portanto é preciso honrá-las e resgatar sua memória. Esse foi o propósito da Hoepcke Empreendimentos ao restaurar e devolver à Florianópolis galpões industriais centenários que têm tantas recordações para contar.</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">5</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="5">5</div>
        </div>
      </div>
    </div>
    <!-- el end -->
  </div>
  <!-- cont inner end -->
</div>

<a href="https://dribbble.com/shots/2802024-Satellite-Website-Prototype" target="_blank" class="icon-link">
  <img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Dribbble-icon.png">
</a>
<a href="https://twitter.com/NikolayTalanov" target="_blank" class="icon-link icon-link--twitter">
  <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png">
</a>
<!-- partial -->
  <script  src="{% static 'myapp/js/script.js' %}"></script>

</body>
</html>
